<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="action.js"></script>
    <title>Cadastro</title>
</head>
<body>
  
<h1>olar mundo </h1>

<table>


    <%= anime %>

    <% usuarios.forEach(usuario => { %>
        <li><strong><%= usuario.id %></strong> - <%= usuario.nome %> - <%= usuario.email %> </li>
    <% }) %>

    <thead>
        <tr>
            <!-- Substitua 'id' e 'nome' pelos nomes reais das colunas da sua tabela -->
            <th>ID</th>
            <th>Nome</th>
            <th>email</th>

        </tr>
    </thead>
  
</table>
</body>
<script>

    const usuarios = <%- JSON.stringify(usuarios) %>; // Convertendo para JSON
    console.log(usuarios);
    
    
    
    
    // o foreach faz a consulta do valor do banco de dados 
    usuarios.forEach(element => {
    //   console.log("parabéns"+element.nome)
    
        if (element.nome === 'luiz') {
            console.log(element.nome + " é o meu nome !!");
        }else{
            console.log(element.nome + " não é o meu nome !!");
        }
    
    
     
    });
    
    </script>
    
</html>
